*.kdev4
*.opensdf
*.pdb
*.sdf
*.suo
*.swp
*.a
*~
lib/
x64/
/InfiniTAM/doxygen-html/
/InfiniTAM/build/
/InfiniTAM/buildx/
/InfiniTAM/install/
/InfiniTAM/Files/Out/out.ppm
/InfiniTAM/Files/Out/*.ppm
/InfiniTAM/Files/Teddy/Frames
/lib/
/InfiniTAM/doxygen-html/
cmake_uninstall.cmake
